.single_movie {
    display: flex;
    width: 100%;
    height: 100%;

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px 45px 45px 0px;
        border: .0625rem solid rgba(0, 0, 0, 0.3);

        nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
            width: 100%;
            height: 100%;

            .logo {
                color: #333;
                display: flex;
                align-items: center;
                gap: 24px;
                padding: 16px;

                span {
                    font-size: 1.5rem;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 48px;
                width: 100%;

                li {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    width: 100%;
                }

                .home {
                    margin-left: -0.9375rem;
                }

                .tv_series {
                    margin-left: -0.125rem;
                }

                .movies {
                    background: rgba(190, 18, 60, 0.1);
                    width: 100%;
                    padding: 16px 16px 16px 0;
                    border-right: .3125rem solid #be123c;
                }
            }

            .side_box {
                border: .0625rem solid rgba(190, 18, 60, 0.7);
                padding: 16px;
                height: 210px;
                border-radius: 20px;
                background: rgba(248, 231, 235, 0.4);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 16px;

                .top {
                    width: 128px;
                    font-size: 15px;
                    color: rgba(51, 51, 51, 0.8);
                    font-weight: 600;
                }

                .middle {
                    color: #666;
                    font-size: 12px;
                }

                .bottom {
                    border-radius: 30px;
                    background: rgba(190, 18, 60, 0.2);
                    outline: none;
                    border: none;
                    padding: 12.8px;
                    cursor: pointer;
                }
            }

            .logout_box {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                width: 100%;
            }
        }
    }

    .movie_details_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 32px;

        .mobileMenu {
            display: none;
        }

        .movie_play_box {
            width: 100%;
            height: 449px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            border-radius: .3125rem;

            .play_btn {
                position: absolute;
                z-index: 50;
                width: 110px;
                height: 110px;
                background-color: rgba(255, 255, 255, 0.35);
                top: 40%;
                left: 45%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }

        .movie_details_container {
            display: flex;
            width: 100%;
            gap: 16px;

            .movie_details_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 16px;
                gap: 48px;
                width: 58%;

                .title_box_container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 16px;

                    .title_box {
                        color: #404040;
                        font-size: 23px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    .category {
                        display: flex;
                        align-items: center;
                        color: #b91c1c;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        gap: 16px;

                        .cat_1,
                        .cat_2 {
                            border-radius: 15px;
                            border: .0625rem solid #f8e7eb;
                            padding: .3125rem;
                        }
                    }
                }

                .description {
                    color: #333;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .crew {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .director,
                    .writers,
                    .stars {
                        color: #333;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        span {
                            color: #be123c;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }

                .ratings_and_awards_container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .ratings_and_awards {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        .rating {
                            border-radius: 10px;
                            background: #be123c;
                            padding: 16px;
                            color: #fff;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        .award {
                            color: #333;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }

                    img {
                        padding: 8px;
                    }
                }
            }

            .movie_details_right {
                width: 42%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 48px;
                padding: 16px;

                .num_stars {
                    align-self: flex-end;
                    display: flex;
                    align-items: center;
                    gap: 11.2px;

                    p {
                        .rate {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        .views {
                            font-size: 20px;
                            color: #666;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }
                }

                .showtimes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    background: #be123c;
                    color: #fff;
                    text-shadow: 0rem .125rem .25rem rgba(0, 0, 0, 0.2);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding: 16px;
                    width: 360px;
                    gap: 16px;
                    cursor: pointer;
                }

                .options {
                    cursor: pointer;
                    border-radius: 10px;
                    border: .0625rem solid #be123c;
                    background: rgba(190, 18, 60, 0.1);
                    padding: 16px;
                    width: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .single_movie {
        aside {
            display: none;
        }

        .movie_details_wrapper {
            .mobileMenu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 27px;
                width: 100%;

                a {
                    color: #333;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    padding: 16px;
    
                    span {
                        font-size: 1.5rem;
                    }
                }

                .responsive_menu_icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    width: 36px;
                    height: 36px;
                    cursor: pointer;
                    z-index: 500;
                    background-color: #be123c;
                    border-radius: 50%;

                    .burger_bar {
                        width: 24px;
                        height: .25rem;
                        background-color: #fff;
                        border-radius: .5rem;
                    }
                }

                .clicked:nth-child(1) {
                    transform: rotate(45deg) translate(.125rem, .1875rem);
                    transition: ease-out 0.5s;
                }

                .clicked:nth-child(2) {
                    transform: rotate(-45deg) translate(.25rem, -0.2875rem);
                    transition: ease-out 0.5s;
                }

                .unclicked {
                    transform: rotate(0) translate(0);
                    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
                }
            }
            .movie_details_container {
                flex-wrap: wrap;

                .movie_details_left, .movie_details_right{
                    width: 100%;
                }
            }
        }
    }
}
